*{
    padding: 0;
    margin: 0;
    color: #ffff;
}
header{
    background-color: #AD8E70;
    width: 100%; 
    height: 48px;}
header nav ul li
{
    list-style-type: none;
     float: left;
}
header nav ul li a
{
    text-decoration: none; 
    padding: 15px 15px 15px 20px; 
    display: inline-block; 
    color: #000000;
}
header nav ul li a:hover{background-color:#E8D5C4;  color: rgb(131, 65, 65);}
table,td {
	border: 2px solid black;
    background-color: #e1a66b;
    margin: auto;
}
h1, h2,p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    background-color: #FF0303;
  height: 100%;
  width: 35%;
  border-radius: 15px solid rgb(0, 0, 0);
  margin-top: 4%;
  text-align-last: center;
  margin: auto;
}
.inputs input{
    border: solid 2px rgb(75, 72, 79);
    border-radius: 10px;
    background-color: rgb(232, 230, 239);
    margin-top: 4px;
    margin-bottom: 6px;
    color: #000000;
  }
  .buttons input{
    border-radius: 7px;
    margin: auto;
    margin-bottom: 4px;
    text-decoration-color: #000000;
    text-align: center;
    cursor: pointer;
    background-color: #000000;
    border-color: rgb(56, 55, 53);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 12px;
    margin-bottom: 0px;
}
body{
    background-image: url("../imagenes/fondo2.jpg");
}
hr{
    margin-top: 5px;
    margin-bottom: 0px;
    width: 80%;
    margin-left: 150px;
    margin-right: 5px;
    padding-left: 5px;
    border: 2px solid #ffffff;
    border-radius: 200px /8px;
    height: 0px;
    text-align: center;
}