*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(../imagenes/fondo.png);
  color: rgb(25,75,120);
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.userlogin{
  background-color: rgb(223,187,6);
  height: 400px;
  width: 400px;
  border-radius: 15px solid rgb(80,200,33);
  margin-top: 10%;
  text-align-last: center;
}

.title{
  text-align: center;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 10px;
  color: chocolate;
}

.userid{
  padding-top: 20px;
}

.userid h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  float: left;
  margin-left: 50px;
  margin-right: 5px;
  padding-left: 5px;
}

.userid input{
  height: 25px;
  width: 300px;
  border: solid 2px rebeccapurple;
  border-radius: 10px;
}

.userpassword{
  padding-top: 20px;
}

.userpassword h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  float: left;
  margin-left: 50px;
  margin-right: 5px;
  padding-left: 5px;
}

.userpassword input{
  height: 25px;
  width: 300px;
  border: solid 2px rebeccapurple;
  border-radius: 10px;
}

.buttons{
  margin-top: 20px;
  display: inline-flex;
}

.buttons img{
  float: left;
}

.buttons button{
  border-radius:15px;
  width: 120px;
  height: 35px;
}

.buttons p{
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
  margin-top: 20px;
  float: left;
  margin-left: 120px;
  color: darkmagenta;
  /*
  Les dejaré una tarea mediante la cual deben de 
  crear un formulario de registro que solicite: 
  nombre, appat, apmat, contraseña y confirmar contraseña
  ovbiamente respetando las reglas de estilo del sitio.
  */
}